/* text styles */

* {
	font-family: Roboto, 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
}

.text-syne {
	font-family: Syne, 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
}

.text-display {
	font-family: Syne, 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
	font-weight: 500;
	font-size: 60px;
	line-height: 60px;
	letter-spacing: -0.02em;
}

.title-xlarge {
	font-family: Syne, 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
	font-weight: 400;
	font-size: 32px;
	line-height: 36px;
	letter-spacing: -0.01em;
}

.title-large {
	font-family: Syne, 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
	font-weight: 400;
	font-size: 28px;
	line-height: 32px;
	letter-spacing: -0.02em;
}

.title-medium {
	font-family: Syne, 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
	font-weight: 500;
	font-size: 24px;
	line-height: 28px;
}

.title-small {
	font-family: Syne, 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
	font-weight: 500;
	font-size: 18px;
	line-height: 24px;
}

.text-body {
	font-family: Roboto, 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
	font-weight: 300;
	font-size: 18px;
	line-height: 24px;
}

.text-body-small {
	font-family: Roboto, 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
	font-weight: 300;
	font-size: 16px;
	line-height: 20px;
}

.text-button {
	font-family: Roboto, 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
	font-weight: 400;
	font-size: 16px;
	line-height: 20px;
	letter-spacing: -0.02em;
}

.text-caption {
	font-family: Roboto, 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
	font-weight: 300;
	font-size: 14px;
	line-height: 16px;
}

.text-overline {
	text-transform: uppercase;
	font-family: Roboto, 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
	font-weight: 300;
	font-size: 16px;
	line-height: 16px;
	letter-spacing: 0.02em;
}

.text-overline-small {
	text-transform: uppercase;
	font-family: Roboto, 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
	font-weight: 300;
	font-size: 12px;
	line-height: 16px;
	letter-spacing: 0.02em;
}

.text-logo {
	font-size: 48px; /* desktop */
	font-size: 32px; /* mobile */
}

.text-tagline {
	font-size: 14px;
	line-height: 16px;
	letter-spacing: 0.02em;
}

.border-t-3 {
	border-top-width: 3px;
}
.border-b-3 {
	border-bottom-width: 3px;
}
