---
// Component Imports
import BaseHead from '../components/BaseHead.astro';
import BlogHeader from '../components/BlogHeader.astro';
import BlogPostPreview from '../components/BlogPostPreview.astro';
import Analytics from '../components/Analytics.astro';
import wp from '../wordpress';
import HeroSection from '../components/HeroSection.astro';
import TitleSeparator from '../components/TitleSeparator.astro';
import PlainArticleList from '../components/PlainArticleList.astro';
import ArticleList from '../components/ArticleList.astro';

// Component Script:
// You can write any JavaScript/TypeScript that you'd like here.
// It will run during the build, but never in the browser.
// All variables are available to use in the HTML template below.
let title = 'Μπομπίνα';
let description = 'Διαδικτυακό περιοδικό του Κινηματογραφικού Τομέα Π.Ο.Φ.Π.Α.';
let permalink = 'https://mpompina-test-site.netlify.app/';

// let { data } = await wp.getPosts(100);
// let allPosts = data.posts;
// allPosts = allPosts.sort(
// 	(a, b) => new Date(b.date).valueOf() - new Date(a.date).valueOf()
// );

// Full Astro Component Syntax:
// https://docs.astro.build/core-concepts/astro-components/
---

<html lang='en'>
	<head>
		<BaseHead {title} {description} {permalink} />

		<style>

		</style>
	</head>

	<body>
		<Analytics />
		<BlogHeader />
		<div class='wrapper'>
			<main class='px-5'>
				<HeroSection />
				<TitleSeparator title='Προσφατα' />
				<PlainArticleList />
				<ArticleList />
			</main>
		</div>
	</body>
</html>
