---
// Component Imports
import BaseHead from '../components/BaseHead.astro';
import BlogHeader from '../components/BlogHeader.astro';
import BlogPostPreview from '../components/BlogPostPreview.astro';
import Analytics from '../components/Analytics.astro';
import wp from '../wordpress';
import HeroSection from '../components/HeroSection.astro';
import TitleSeparator from '../components/TitleSeparator.astro';
import PlainArticleList from '../components/PlainArticleList.astro';
import ArticleList from '../components/ArticleList.astro';
import Card from '../components/Card.astro';
import Carousel from '../components/Carousel.astro';
import MainGrid from '../components/MainGrid.astro';
import Footer from '../components/Footer.astro';

// Component Script:
// You can write any JavaScript/TypeScript that you'd like here.
// It will run during the build, but never in the browser.
// All variables are available to use in the HTML template below.
let title = 'Μπομπίνα';
let description = 'Διαδικτυακό περιοδικό του Κινηματογραφικού Τομέα Π.Ο.Φ.Π.Α.';
let permalink = 'https://mpompina-test-site.netlify.app/';

// let { data } = await wp.getPosts(100);
// let allPosts = data.posts;
// allPosts = allPosts.sort(
// 	(a, b) => new Date(b.date).valueOf() - new Date(a.date).valueOf()
// );

// Full Astro Component Syntax:
// https://docs.astro.build/core-concepts/astro-components/
---

<html lang='en'>
	<head>
		<BaseHead {title} {description} {permalink} />

		<style>

		</style>
	</head>

	<body>
		<Analytics />
		<BlogHeader />
		<main class='max-w-[1200px] md:mx-auto'>
			<div class='px-5'>
				<HeroSection />
				<div class='md:flex'>
					<div class='md:mr-7'>
						<TitleSeparator title='Αφιερωματα' />
						<Card />
					</div>
					<div>
						<TitleSeparator title='Προσφατα' />
						<PlainArticleList />
					</div>
				</div>
				<div class='max-w-[750px]'>
					<ArticleList />
				</div>
			</div>
			<section class='bg-black px-5 py-9 mt-14'>
				<h1 class='title-large font-medium text-primary'>
					Αναλύσεις / Κριτικές Ταινιών
				</h1>
				<Carousel />
			</section>
			<div class='px-5'>
				<TitleSeparator title='Γενικες κατηγοριες' />
				<MainGrid class='md:mb-12' />
				<div class='md:flex md:items-stretch'>
					<div
						class='mt-14 md:mt-0 bg-black text-white py-14 px-11 md:py-16 md:pr-20 h-[440px] md:max-w-[360px] md:h-auto md:self-stretch flex'
					>
						<div class='text-xxlarge md:my-auto'>
							Γίνε <br /> μέρος <br /> του <br /> περιο- <br /> δικού
						</div>
					</div>
					<p class='text-body mt-8 md:mt-0 md:py-14 md:px-16'>
						Η Μπομπίνα αποτελεί το επίσημο περιοδικό του
						Κινηματογραφικού Τομέα Π.Ο.Φ.Π.Α. Στις σελίδες της
						φιλοξενεί ένα πολύπλευρο σύνολο από κείμενα που
						εκφράζουν τις σκέψεις, ιστορίες και απόψεις των μελών
						του Τομέα, με βασικό κοινό σημείο την αγάπη μας για τον
						κινηματογράφο.
						<br /><br />
						Με συντακτική ομάδα velit nec, nunc, mauris laoreet scelerisque
						viverra vitae. Auctor sit platea risus gravida amet. Vitae
						quisque nunc egestas vulputate pellentesque at. Volutpat,
						faucibus dolor, erat vel senectus adipiscing arcu. Sit magna
						diam eget dui.
						<br /><br />
						Για όποιον/α επιθυμεί να στείλει κείμενα, ιδέες και ότι άλλο,
						η ηλεκτρονική διεύθυνση είναι: mpompina@gmail.com. Τα κείμενα
						θα δημοσιεύονται είτε στην έτυπη, είτε στην ηλεκτρονική έκδοση,
						είτε και στις δύο.
					</p>
				</div>
			</div>
			<img src='assets/video.jpg' class='mt-11' />
			<div class='px-5 pt-16 pb-20 bg-black text-white'>
				<h2 class='title-large' style='letter-spacing: initial'>
					Κινηματογραφικός Τομέας ΠΟΦΠΑ
				</h2>
				<p class='text-body mt-6 mb-10'>
					Σήμερα ο Κινηματογραφικός Τομέας έχει ένα πλήρες εβδομαδιαίο
					πρόγραμμα σεμιναρίων και προβολών σε φίλμ 35mm και
					βιντεοπροτζέκτορα, το οποίο καθημερινά βελτιώνεται και
					εμπλουτίζεται.
				</p>
				<a
					href='https://kinimatografiko.gr'
					class='text-button hover:underline'
				>
					Δείτε περισσότερα
				</a>
			</div>
		</main>
		<Footer />
	</body>
</html>
