---
import Carousel from '../components/Carousel.astro';
---

<html lang='en'>
	<head>
		<meta charset='utf-8' />
		<meta name='viewport' content='width=device-width' />
	</head>

	<body>
		<div class='mt-10'>
			<Carousel />
		</div>
	</body>
</html>
