---
import { parse } from 'node-html-parser';

import wordpress from '../wordpress';

let {
	data: { posts },
} = await wordpress.getPosts(6, '', 'θέσεις-σκηνοθετών');

let list = posts.map((p) => ({
	title: p.title,
	date: new Date(p.date),
	categories: Object.keys(p.categories),
	shortText: parse(p.excerpt).text,
	image: p.featured_image,
	id: p.ID,
}));
---

{list.map((article) => (
	<article class="mt-10 md:flex md:items-center md:h-[263px]">
		<img
			src={article.image}
			class="object-cover w-full h-96 mb-4 md:flex-1 md:w-[263px] md:h-full md:mb-0"
		/>
		<div class="md:ml-7">
			<a>
				<h3 class="title-small">{article.title}</h3>
				<span class="text-overline-small">
					{article.date.toLocaleDateString('el-gr')}
					{article.categories.map((c) => c + ' ')}
				</span>
			</a>
			<p class="text-body-small mt-4"> {article.shortText} </p>
			<a
				class="block mt-6 text-button hover:text-primary"
				href={`/posts/${article.id}`}
			>
				Περισσότερα
			</a>
		</div>
	</article>
))}
