---
import ArticleList from './ArticleList.astro';

const { posts, title } = Astro.props;
---

<div class="px-5 max-w-[750px] mx-auto mb-24">
	<h1 class="title-large text-center mb-5 mt-20">
		{title}
	</h1>
	<ArticleList posts={posts} />
</div>
