---
import Author from './Author.astro';
import BlogPicture from './BlogPicture.astro';
import { parse } from 'node-html-parser';

export interface Props {
	title: string;
	author: string;
	publishDate: string;
	heroImage: string;
	alt: string;
	text: string;
}

const { title, author, publishDate, heroImage, alt, text } = Astro.props;

const parsed_post = parse(text);
function addIframeClasses(node) {
	node.classList.add('outline-none');
	node.classList.add('w-full');
}

// remove first image since it's the hero image:
parsed_post.getElementsByTagName('img')[0]?.remove();
---

<div class='layout mb-20 mx-auto'>
	<article class='px-5'>
		<div>
			<header class='md:max-w-[750px] mx-auto'>
				{heroImage && (
					<img
						width="720"
						height="420"
						class="object-cover max-w-full "
						loading="lazy"
						src={heroImage}
						alt={alt}
					/>
				)}
				<h1 class='title-large mb-4 mt-5'>{title}</h1>
			</header>

			<main class='text-body'>
				{parsed_post.childNodes.map((v) => {
					if (v.tagName != null) {
						v.classList.add('my-4')
						v.classList.add('mx-auto')
						v.classList.add('md:max-w-[750px]')
					}

					if (v.childNodes.length > 0) {
						for (let n of v.childNodes) {
							if (n.tagName == 'IMG') {
								return (
									<BlogPicture
										src={n.getAttribute('data-orig-file')}
										alt={n.getAttribute('alt')}
										title={n.getAttribute(
											'data-image-title'
										)}
										height={n.getAttribute('height')}
										class="my-4 md:max-w-xl"
									/>
								)
							} else if (n.tagName == 'IFRAME') {
								addIframeClasses(n)
							}
						}
					}

					return v
				})}
			</main>

			<p class='md:max-w-[750px] mx-auto text-body italic'>
				Δημοσιεύθηκε στις {new Date(publishDate).toLocaleDateString(
					'el-gr'
				)}
			</p>
		</div>
	</article>
</div>
