<header class='py-8'>
	<a href='/' class='text-center'>
		<h1 class='text-4xl'>Μπομπίνα</h1>
		<div class='text-center mt-4'>
			Το περιοδικό του Κινηματογραφικού Τομέα Π.Ο.Φ.Π.Α.
		</div>
	</a>
</header>
