---
import Navbar from './Navbar.astro';
---

<header class='py-8'>
	<a href='/' class='text-center'>
		<h1 class='text-syne text-logo font-bold'>ΜΠΟΜΠΙΝΑ</h1>
		<div class='text-syne text-tagline text-center mx-16 mt-3'>
			Το περιοδικό του Κινηματογραφικού Τομέα Π.Ο.Φ.Π.Α.
		</div>
	</a>
	<Navbar />
</header>
