---
//script here
---

<style>
	article {
		height: 520px;
	}
</style>
<article
	style={`background-image: linear-gradient(rgba(0, 0, 0, 0.5), rgba(0, 0, 0, 0.5)), url(${'https://mpompina.files.wordpress.com/2019/07/cea3cf8ccf87ceb5ceb9-ce99cebcceb1cebccebfcf8dcf81ceb1.jpg'})`}
	class='bg-cover text-white bg-center flex flex-col'
>
	<h1 class='title-xlarge mt-7 pt-4 px-4'>Ο Κινηματογράφος ως βίωμα</h1>
	<p class='text-body-small mt-auto px-3 pt-4 pb-6 bg-primary bg-opacity-70'>
		'Μετέφερες το Πίστομα, διήγημα του Θεοτόκη, σε μια ταινία μικρού μήκους.
		Ποια διαδικασία ακολούθησες; Θεωρείς ότι οι κινηματογραφικές διασκευές
		πρέπει να γίνονται στο γράμμα ή στο πνεύμα ενός έργου;'
	</p>
</article>
