---
import OptimizedPicture from './OptimizedPicture.astro';

import 'glider-js/glider.min.css';
import wordpress from '../wordpress';
import { parse } from 'node-html-parser';

let {
	data: { posts },
} = await wordpress.getPosts(6, '', 'ανάλυση-κριτική-ταινιών');

let article = {
	image: 'https://mpompina.files.wordpress.com/2022/06/maxresdefault-2.jpg',
	title: 'Grandmother (1970) David Lynch',
	link: 'https://www.google.com',
};

let content = posts.map((p) => ({
	image: p.featured_image,
	title: parse(p.title).text,
	link: '/posts/' + p.slug,
}));
---

<script>
	import glider from 'glider-js';
	new glider(document.querySelector('.glider'), {
		dots: document.querySelector('#dots'),
		scrollLock: true,
		itemWidth: 360,
		slidesToShow: 1,
		responsive: [
			{
				// screens greater than >= 775px
				breakpoint: 775,
				settings: {
					slidesToShow: 3,
					slidesToScroll: 3,
				},
			},
		],
	});
</script>

<style is:inline>
	.glider-dots {
		margin: inherit;
	}
	.glider-dot {
		width: 24px;
		height: 8px;
		border-radius: 0px;
		background-color: white;
	}

	.glider-dot.active {
		background-color: #b5465a;
	}
	.glider-track,
	.glider {
		scrollbar-width: none;
	}

	@-moz-document url-prefix() {
		.glider-track {
			margin-bottom: 17px;
		}
		.glider-wrap {
			overflow: hidden;
		}
	}

	.glider-track {
		padding: 0;
		margin: 0;
	}

	@media only screen and (min-width: 777px) {
		.glider-dot {
			width: 50px;
			height: 8px;
			border-radius: 0px;
			background-color: white;
		}

		.glider-track {
			display: flex;
			justify-content: space-between;
		}
	}
</style>

<div class="glider-wrap bg-black text-white mt-8">
	<div class="glider">
		{
			content.map((art) => (
				<div class="flex justify-items-center md:max-w-[360px] md:mx-2 self-start ">
					<div class="border-[#3D3D3D] border max-w-md">
						<a class="glider-img overflow-hidden" href={art.link}>
							<div class="overflow-hidden max-h-[350px] md:max-w-[360px] md:w-[360px] md:h-[300px]">
								<OptimizedPicture
									src={art.image}
									alt={art.title}
									class="transition-transform ease-in-out hover:scale-110 object-cover w-full h-full"
								/>
							</div>
							<h4 class="py-4 px-2 title-medium-2">
								{art.title}
							</h4>
						</a>
					</div>
				</div>
			))
		}
	</div>
	<div role="tablist" id="dots" class="mt-14"></div>
</div>
