---
---

<style>
	.content {
		max-height: 0;
		overflow: hidden;
		transition: max-height 0.2s ease-out;
	}
</style>

<button class='collapsible w-full'><slot name='title'></slot></button>
<div class='content'>
	<slot name='content'></slot>
</div>

<script>
	var coll = document.getElementsByClassName('collapsible');
	var i;

	for (i = 0; i < coll.length; i++) {
		coll[i].addEventListener('click', function () {
			this.classList.toggle('active');
			var content = this.nextElementSibling;
			if (content.style.maxHeight) {
				content.style.maxHeight = null;
			} else {
				content.style.maxHeight = content.scrollHeight + 'px';
				setTimeout(
					() =>
						content.scrollIntoView({
							behavior: 'smooth',
							block: 'end',
						}),
					220
				);
			}
		});
	}
</script>
