---
const { class: cl } = Astro.props;
---

<div class={cl}>
	<h5 class="mb-6 title-small">Αναζήτηση</h5>
	<form action="/search" method="get">
		<input
			placeholder="type something"
			class="bg-black border-b border-white placeholder:text-gray-500"
			name="dev_mpompina[query]"
		/>
	</form>
</div>
