---
const { size, href, class: cl } = Astro.props;
---

<style>
	.custom-colorize {
		/* filter: invert(34%) sepia(62%) saturate(732%) hue-rotate(301deg)
			brightness(91%) contrast(85%); */
		filter: grayscale(100%) invert(15%) sepia(62%) saturate(400%)
			hue-rotate(301deg) contrast(150%) brightness(50%);
	}
</style>
<a
	href={href}
	class={'relative group overflow-hidden m-w-100 h-[185px] block ' + ' ' + cl}
>
	<img
		src='https://mpompina.files.wordpress.com/2019/07/cea3cf8ccf87ceb5ceb9-ce99cebcceb1cebccebfcf8dcf81ceb1.jpg'
		class='group-hover:scale-110 transition custom-colorize h-full w-full object-cover'
	/>
	<div
		class='absolute top-0 bottom-0 left-0 right-0 flex justify-center align-middle bubblehover'
	>
		<h5 class='relative my-auto title-medium text-white'><slot></slot></h5>
	</div>
</a>
