---
//script here
---

<section class='mx-5'>
	<img
		src='https://mpompina.files.wordpress.com/2019/07/cea3cf8ccf87ceb5ceb9-ce99cebcceb1cebccebfcf8dcf81ceb1.jpg'
		alt=''
	/>
	<div>
		<p class='text-overline mt-6'>βιογραφίες</p>
		<h3 class='title-large my-4'>Σόχει Ιμαμούρα: Μια πρώτη ανάγνωση</h3>
		<p class='text-body'>
			Ο Σόχει Ιμαμούρα είναι αναμφίβολα ένα σύμβολο του ιαπωνικού νέου
			κύματος. Μιας γενιάς κινηματογραφιστών που πέρα από την ετερόκλητη
			σύνθεση της, είχε μια κοινή δίψα να δημιουργήσει χωρίς την κηδεμονία
			και τις διαταγές των μεγάλων στούντιο.
		</p>
	</div>
</section>
