---
import GridItem from './GridItem.astro';

const { class: cl } = Astro.props;
---

<section class={cl}>
	<div class='md:flex md:h-[386px]'>
		<div>
			<div class='flex w-full'>
				<GridItem class='mr-2 mb-2 w-[50%]'>Βιογραφίες1</GridItem>
				<GridItem class='mb-2 ml-2 w-[50%]'>Βιογραφίες2</GridItem>
			</div>
			<div class='flex w-full'>
				<GridItem class='my-2 w-[50%] md:mt-2 md:mb-0 mr-2'
					>Βιογραφίες3
				</GridItem>
				<GridItem class='my-2 w-[50%] md:mt-2 md:mb-0 ml-2'
					>Βιογραφίες4
				</GridItem>
			</div>
		</div>
		<GridItem size='full' class='md:flex-grow md:h-full md:ml-4'>
			<p class='text-center text-body'>Δείτε</p>
			Όλα τα κείμενα
		</GridItem>
	</div>
</section>
