---
import wordpress from '../wordpress';

let { data: categories } = await wordpress.getCategories();

//script here
const items = [
	{
		href: '/about',
		text: 'Σχετικά',
	},
	{
		href: '#',
		text: 'Κατηγορίες',
		subitems: categories.map((c) => {
			if (c.ID == wordpress.DEFAULT_CATEGORY) {
				return {
					text: 'Όλα τα άρθρα',
					href: '/posts',
				};
			}
			return {
				text: c.name,
				href: '/categories/' + c.slug,
			};
		}),
	},
	{
		href: '/contact',
		text: 'Επικοινωνία',
	},
];
---

<style>
	.dropdown {
		top: 100%; /* 3px is the border size */
		left: 0;
		right: 0;
		z-index: 100;
	}

	a:focus + .dropdown {
		display: block;
	}
</style>
<nav
	class="flex justify-evenly md:justify-center mt-4 border-t-3 border-b-3 border-black text-center relative"
>
	{
		items.map((it) => {
			return (
				<div class="group px-5 md:px-10 py-2 min-h-full hover:bg-black hover:text-white focus-within:bg-black focus-within:text-white">
					<a href={it.href} class="min-h-full title-small">
						{it.text}
					</a>
					{it.subitems != null ? (
						<div class="dropdown absolute hidden bg-white group-hover:block group-active:block text-black  border-t-3 border-black py-1">
							<ul>
								{it.subitems.map((i) => (
									<a class="hover:underline" href={i.href}>
										<li class="py-3 title-small">
											{i.text}
										</li>
									</a>
								))}
							</ul>
						</div>
					) : (
						''
					)}
				</div>
			);
		})
	}
</nav>
