---
//script here
---

<style>
	a {
		font-family: 'Syne';
		font-weight: 500;
		font-size: 16px;
		line-height: 24px;
	}
</style>
<nav
	class='flex justify-center mt-4 border-t-3 border-b-3 border-black text-center '
>
	<a
		href='/posts/1630'
		class='px-5 py-2 min-h-full grow hover:bg-black hover:text-white'
	>
		Σχετικά
	</a>
	<a
		href='/posts/1630'
		class='px-5 py-2 min-h-full grow hover:bg-black hover:text-white'
	>
		Κατηγορίες
	</a>
	<a
		href='/posts/1630'
		class='px-5 py-2 min-h-full grow hover:bg-black hover:text-white'
	>
		Επικοινωνία
	</a>
</nav>
