---
//script here
const items = [
	{
		href: '/',
		text: 'Σχετικά',
	},
	{
		href: '/',
		text: 'Κατηγορίες',
	},
	{
		href: '/',
		text: 'Επικοινωνία',
	},
];
---

<style>
	a {
		font-family: 'Syne';
		font-weight: 500;
		font-size: 16px;
		line-height: 24px;
	}
</style>
<nav
	class="flex justify-evenly md:justify-center mt-4 border-t-3 border-b-3 border-black text-center"
>
	{items.map((it) => (
		<a
			href={it.href}
			class="px-5 md:px-10 py-2 min-h-full hover:bg-black hover:text-white"
		>
			{it.text}
		</a>
	))}
</nav>
