---
import { Picture } from 'astro-imagetools/components';

const { src, alt, class: cl } = Astro.props;
---

{
	src != null && src.length > 0 ? (
		<div class={cl}>
			<Picture
				src={src}
				alt={alt}
				format={['avif', 'webp']}
				fallbackFormat="jpeg"
				includeSourceFormat={false}
				loading="lazy"
				objectPosition="center"
				layout="fill"
			/>
		</div>
	) : (
		''
	)
}
