---
import { Picture } from 'astro-imagetools/components';

export interface Props {
	src: string;
	alt: string;
	class?: string;
}

const { src, alt, class: cl } = Astro.props;
const fileExtRe = /\.[a-zA-Z0-9]+$/g;
let skip = false;
if (src != null) {
	let matches = src.match(fileExtRe);
	//only allow the following image formats to be transformed
	if (
		matches != null &&
		matches.length > 0 &&
		['.jpg', '.jpeg', '.png', '.tiff', '.bmp', '.gif', '.webp'].indexOf(
			matches[0]
		) == -1
	) {
		console.log(matches[0]);
		skip = true;
	}
}
---

{
	!skip && src != null && src.length > 0 ? (
		<div class={cl}>
			<Picture
				src={src}
				alt={alt}
				format={['avif', 'webp']}
				fallbackFormat="jpeg"
				includeSourceFormat={false}
				loading="lazy"
				objectPosition="center"
				layout="fill"
			/>
		</div>
	) : (
		''
	)
}
