---
const { title, image, id, class: cl } = Astro.props;
---

<article class={cl}>
	<a href={'/posts/' + id}>
		<img src={image} class='object-cover w-full' />
		<h6 class='title-medium-2 mt-2'>{title}</h6>
	</a>
</article>
