---
import BaseHead from '../components/BaseHead.astro';
import BlogHeader from '../components/BlogHeader.astro';
import Analytics from '../components/Analytics.astro';
import Footer from '../components/Footer.astro';

const { title, description, permalink } = Astro.props;
---

<html lang="el">
	<head>
		<BaseHead {title} {description} {permalink} />
	</head>

	<body>
		<Analytics />
		<BlogHeader />
		<slot />
		<Footer />
	</body>
</html>
